<div class="container justify-content-center mb-5 pb-5">
    <h2 class="pt-5 pb-3 text-primary">プライバシーポリシー</h2>
    <div class="col-9 mb-5 pb-5">
      <p>
        本プライバシーポリシー（以下，「本ポリシー」といいます。）は、私のしおり（以下，「当社」といいます。）が提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりに定めます。 
      </p>
      <div class="mb-4">
        <div class="h5 pb-2 mb-3 text-primary border-bottom border-primary">
          法令等の遵守
        </div>
        <p>
          個人情報を取り扱うにあたっては、「個人情報の保護に関する法律」をはじめとする個人情報の保護に関する法令、ガイドラインおよび本プライバシーポリシーを遵守いたします。
        </p>
      </div>
      <div class="mb-4">
        <div class="h5 pb-2 mb-3 text-primary border-bottom border-primary">
          個人情報の利用目的
        </div>
        <p>
          本ウェブサイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
          <ul>
            <li>本人のご了解がある場合</li>
            <li>法令に基づく場合</li>
          </ul>
        </p>
      </div>
      <div class="mb-4">
        <div class="h5 pb-2 mb-3 text-primary border-bottom border-primary">
          著作権について
        </div>
        <p>
          本ウェブサイト「しおりす」に掲載されている情報についての著作権は放棄しておりません。
          <br>
          本ウェブサイトの内容、テキスト、画像等の無断転載・使用を固く禁じます。
          <br>
          ただし、テキストに関しては引用元記載の上、 引用部分とそれ以外の部分の「主従関係」が明確である適切な引用の場合は問題ありません。
          <br>
          これらを発見した場合は著作権法第32条に基づき、厳正なる対応をさせていただきます。
        </p>
      </div>
      <div class="mb-4">
        <div class="h5 pb-2 mb-3 text-primary border-bottom border-primary">
          免責事項
        </div>
        <p>
          本サービスに掲載されている情報に関しては、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。
          <br>
          また、本サービスには外部サイトへのリンクが含まれています。これらの外部サイトのコンテンツに対して一切責任を負いません。
          <br>
          掲載内容からいかなる損失や損害などの被害が発生したとしても、当社では責任を負いかねます。
        </p>
      </div>
      <div class="mb-4">
        <div class="h5 pb-2 mb-3 text-primary border-bottom border-primary">
          プライバシーポリシーの変更
        </div>
        <p>
          本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
          <br>
          当社が別途定める場合を除いて，変更後のプライバシーポリシーは，本サービスに掲載したときから効力を生じるものとします。
        </p>
      </div>
    </div>
  </div>
</div>