<footer class="bg-primary">
  <div class='container mt-5'>
  	<div class='row'>
      <div class='mt-3 mx-auto text-white text-end'>
       <p>Copyright © sample All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>