<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "私のしおり", "/", class: "navbar-brand ms-2" %>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center mx-2">
        <li class="nav-item">
          <%= link_to t("header.create_book"), new_book_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("header.book_index"), books_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("header.logout"), logout_path, class: "nav-link", data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
</header>