<% @books.each do |book| %>
  <div class="col-sm-12 col-lg-4 mb-3">
    <div id="book-id-<%= book.id %>">
      <div class="card">
        <%= image_tag "#", class="card-img-top", width: "300", height: "200" %>
        <div class="card-body">
          <div class="d-flex">
            <h4 class="card-title">
              <%= link_to book.title, "#" %>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
