<div class="container">
  <div class="row">
    <div class="col-12 mx-auto my-5 pt-4">
      <div class="row" >
        <% if @bookmark_books.present? %>
           <%= render 'book', { books: @bookmark_books } %>
        <% else %>
          <div class="mb-3 text-center">
            ブックマークしているしおりはありません
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
